speech{font-family: 'Times New Roman', Times, serif; font-size: medium;  color: black;}
direction:hover{font-family: Arial, Helvetica, sans-serif; font-size: large; color: black;
    background-color: aqua;}
div.mary:hover{font-family: 'Courier New', Courier, monospace; font-size:large; color: red; 
    text-shadow: 2px 2px 5px green; border: 1px solid; padding: auto; box-shadow: 3px 3px;}
div.ollivant:hover{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: large;color: blue;text-shadow: 2px 2px 5px darkgray; border: 1px solid;
    padding: 8px; box-shadow: 3px 3px;}
table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td {
        border: 3px solid darkgrey;
        text-align: left;
        padding: 8px;
        color: darkblue;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
      }
      th {
        border: 3px solid darkgrey;
        text-align: left;
        padding: 8px;
        color: darkgreen;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
      }

      tr:nth-child(even) {
        background-color: aliceblue;
      }
